/target/
.idea/
logs/
.git/
.svn/
bin/
test/
.settings/
.classpath
.factorypath
.project
.DS_Store
db.json
*.log
*.iml
*.git
mvnw
mvnw.cmd
node_modules/
public/
.deploy_git/

package.json
package-lock.json